include ../components/buttons/button

footer.footer
  .container
    .b-footer__wrapper
      .b-footer__text
        h2.h2.b-footer__title Успей купить!
        .b-footer__subtitle Подпишись и успей словить все акции
      form.f-subscribe(action="#")
        .f-subscribe__outer
          input.f-subscribe__field(type="email" placeholder="Email" required)
          +button('f-subscribe__button', 'Подписаться')
        input(type="checkbox" id="remeber" name="user-remember" checked)
        label(for="remeber").f-subscribe__checkbox.--checked Подписаться на новости

