header.header
  .container
    .b-header__wrapper
      .b-header__top
        .b-header__menu
          a.b-header__logo(href="#")
          nav.n-nav
            ul.li-menu
              li.li-menu__item
                a.li-menu__link(href="#") Main
              li.li-menu__item
                a.li-menu__link(href="#") Gallery
              li.li-menu__item
                a.li-menu__link(href="#") News
              li.li-menu__item
                a.li-menu__link(href="#") Profile
          button.btn-menu(type="button").btn-menu
            span
            span
            span
        .b-header__phone
          a.h3.b-header__phone-link(href="tel:+544349000000") +544 3490 00000
          span Звони скорее!
      .b-header__bottom
        h1.b-header__title Найдено 349 котов
