include ../buttons/button-link

.b-price
  h2.h2.b-price__title Стоимость юридических услуг в Минске
  .b-price__text Стоимость услуг формируется согласно тарифам, установленным в компании и в зависимости от времени, затраченного юристом на разрешение возникшей ситуации. Принцип прозрачности делает наши цены обоснованными и понятными для клиента.
  +button-link('b-price__link', 'Тарифы')
