include ../buttons/button-link

section.s-main
  .b-main__wrapper(style="background-image: url(./img/img/rectangle1.png")
    .container
      .b-main__content
        h1.h1.b-main__title Взыскание дебиторской задолженности
        .b-main__subtitle Индивидуальный подход и нацеленность на достижение результата
        +button-link('b-main__more', 'Подробнее')
        .b-main__arrow
          button.b-main__arrow-prev.btn-prev(type="button")
          button.b-main__arrow-next.btn-next(type="button")
  .b-main__wrapper(style="background-image: url(./img/img/rectangle2.png")
    .container
      .b-main__content
        .h1.b-main__title Регистрация ООО
        .b-main__subtitle Гарантируем минимальные сроки регистрации под ключ
        +button-link('b-main__more', 'Подробнее')
        .b-main__arrow
          button.b-main__arrow-prev.btn-prev(type="button")
          button.b-main__arrow-next.btn-next(type="button")
  .b-main__wrapper(style="background-image: url(./img/img/rectangle3.png")
    .container
      .b-main__content
        .h1.b-main__title Ликвидация предприятия
        .b-main__subtitle Эффективное решение сложных задач
        +button-link('b-main__more', 'Подробнее')
        .b-main__arrow
          button.b-main__arrow-prev.btn-prev(type="button")
          button.b-main__arrow-next.btn-next(type="button")
  .b-main__wrapper(style="background-image: url(./img/img/rectangle4.png")
    .container
      .b-main__content
        .h1.b-main__title Юридическая консультация
        .b-main__subtitle Детальные разъяснения вопросов по ведению бизнеса от профессионалов
        +button-link('b-main__more', 'Подробнее')
        .b-main__arrow
          button.b-main__arrow-prev.btn-prev(type="button")
          button.b-main__arrow-next.btn-next(type="button")
  .b-main__wrapper(style="background-image: url(./img/img/rectangle5.png")
    .container
      .b-main__content
        .h1.b-main__title Юридический аутсорсинг
        .b-main__subtitle Гарантия своевременности и качества услуг
        +button-link('b-main__more', 'Подробнее')
        .b-main__arrow
          button.b-main__arrow-prev.btn-prev(type="button")
          button.b-main__arrow-next.btn-next(type="button")
