body {
  position: relative;
	font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  height: fit-content;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-menu {
  background-color: #000;
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color .3s, color .3s;
}

.btn-menu:hover {
  background-color: #f5f5dc;
  color: #000;
}

.btn-close {
  width: 50px;
  height: calc(100% + 3px);
  visibility: hidden;
  background-color: #fff;
  transition: background-color .2s;
  position: absolute;
  top: 0;
  right: -50px;
}

.btn-close svg {
  transition: fill .2s;
}


.btn-close:hover svg {
  fill: #fff;
}

.btn-close:hover {
  background-color: #000;
}

.btn-close.--show {
  visibility: visible;
}

.n-nav {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
  position: fixed;
  z-index: 100;
  opacity: 0;
  overflow-y: auto;
  transition: opacity .2s;
}

.n-nav.--open {
  pointer-events: auto;
  opacity: 1;
}

.li-menu {
  width: 300px;
  padding-bottom: 3px;
  height: fit-content;
  display: block;
  background-color: #fff;
  transform: translate(-100%);
  transition: transform .2s;
}

.li-menu.--drop {
  transform: translate(0);
}

.li-menu__item {
  display: block;
}

.li-menu__item + .li-menu__item {
  margin-top: 3px;
}

.li-menu__link {
  width: 100%;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  transition: background-color .2s, color .2s;
}

.li-menu__link:hover {
  background-color: #fff;
  color: #000;
}

.li-menu__title {
  position: relative;
  padding: 10px 20px;
  margin-bottom: 3px;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
}

.b-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.b-img {
  background: url(images/avatar.jpg) center no-repeat;
  background-size: cover;
  width: 45%;
  height: 500px;
}


.b-header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-bottom: 20px;
  height: fit-content;
}

.b-header__present {
  width: 45%;
  padding-right: 20px;
}

.b-header__title{
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Spartan', sans-serif;
}
 
.b-header__name {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

.b-header__profession {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.li-social {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 30px;
  height: 40px;
}

.li-social__item { 
  width: 20%;
  padding: 0 10px;
}

@media screen and (min-width: 600px) {
  .li-social__item:hover .li-social__link {
    background-color: #f9f9f9;
    transform: scale(1.2);
  }
}

.li-social__link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #f5f5dc;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color .2s, transform .2s;
}

.li-social__link.--instagram {
  background-image: url(images/insta.svg);
}

.li-social__link.--facebook {
  background-image: url(images/facebook.svg);
}

.li-social__link.--github {
  background-image: url(images/github.svg);
}

.li-social__link.--vk {
  background-image: url(images/vk.svg);
}

.li-social__link.--telegram {
  background-image: url(images/telegram.svg);
}

.b-summary {
  margin-bottom: 30px;
}

.b-summary__title {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #ff0000;
}

.b-summary__text {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
}

.b-summary__text a {
  font-weight: 700;
}

.li-experience {
  padding-left: 20px;
}

.li-experience__item {
  display: block;
  width: fit-content;
}

.li-experience__item:hover .li-experience__link {
  font-weight: 700;
}

.li-experience__link {
  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  transition: font-weight .3s;
}

.li-experience__link:before {
  content: '\2022';
  margin-right: 5px;
  font-weight: 700;
}

.li-experience__item + .li-experience__item {
  margin-top: 10px;
}

.b-info.--bottom {
  width: 45%;
}

.li-info__item {
  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 16px;
}

.li-info__link {
  width: fit-content;
  transition: font-weight .3s;
}

.li-info__item:hover .li-info__link {
  font-weight: 700;
}

.li-info__item + .li-info__item {
  margin-top: 5px;
}


.li-info__item::before {
  content: '\2022';
  margin-right: 5px;
  font-weight: 700;
}

.b-summary__link {
  transition: font-weight .3s;
}

.b-summary__link:hover {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .b-header__name {
    font-size: 40px;
  }

  .li-social {
    height: fit-content;
  }
  
  .li-social__item {
    width: 50%;
    height: 40px;
  }

  .li-social__item:nth-child(n+3) {
    margin-top: 10px;
  }

  .b-summary__title {
    font-size: 20px;
  }

  .li-experience {
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .b-header__name {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .b-header__profession {
    font-size: 15px;
  }

  .b-header {
    padding-top: 20px;
  }

  .b-summary__text {
    font-size: 16px;
  }

  .nav li div::before {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
  }

  .nav li {
    width: 35px;
  }
}

@media screen and (max-width: 480px) {

  .b-content {
    display: block;
  }

  .b-header__present {
    width: 100%;
    padding-right: 0;
  }

  .b-header__name {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .b-header__profession {
    font-size: 20px;
  }

  .b-img {
    display: none;
  }

  .li-social__item {
    width: 100%;
  }

  .li-social__item + .li-social__item {
    margin-top: 10px;
  }

  .b-info.--bottom {
    width: 100%;
  }

  .b-summary__title {
    font-size: 25px;
  }
}

  

