ul.li-advantage
  li.li-advantage__item
    .li-advantage__content
      .li-advantage__icon.--license
      .li-advantage__text Лицензия на оказание юридических услуг
  li.li-advantage__item
    .li-advantage__content
      .li-advantage__icon.--team
      .li-advantage__text Опытные сотрудники
  li.li-advantage__item
    .li-advantage__content
      .li-advantage__icon.--feedback
      .li-advantage__text Коммуникативные навыки – без труда открываем любые двери и быстро решаем нужные вопросы
  li.li-advantage__item
    .li-advantage__content
      .li-advantage__icon.--pen
      .li-advantage__text Скрупулезный поход к ведению документации
.b-advantage
  .b-advantage__text Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
