@mixin bem-btn($width, $height) {
  @include text(16px, 400, $gray-1);
  width: $width;
  height: $height;
  line-height: $height;
  background-color: $accent;
  text-align: center;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $gray-9;
  }
}

@mixin text($fs, $fw, $color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}
