.b-top {
  display: none;
  position: fixed;
  width: 100%;
  height: 59px;
  bottom: 361px;
  left: 0;
  z-index: 100;
  pointer-events: none;

  &__link {
    pointer-events: auto;
    margin-left: auto;
    width: 59px;
    height: 59px;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::before {
      @include mask-img('../assets/icons/arrow.svg', 18px, 18px, $gray-1);
      transform: rotate(180deg);
      content: '';
    }
  }
}

@include media-tablet {
  .b-top {
    bottom: 100px;
  }
}
