//fonts
$mainFont: 'Commissioner', sans-serif;
$secondaryFont: 'Lato', sans-serif;
$thirdFont: 'Source Sans Pro', sans-serif;

//colors
$bg: #e5e5e5;
$light: #fff;
$black: #000;
$accent: #DEC377;
$black-08: rgba(0, 0, 0, 0.8);
$black-09: rgba(0, 0, 0, 0.9);
$black-075: rgba(0, 0, 0, 0.75);
$black-05: rgba(0, 0, 0, 0.5);

