@import "common/reset";

@import "mixins/media";

@import "mixins/mixin";

@import "mixins/variables";

@import "components/buttons";

@import "components/form";

@import "components/toast";

body {
  font-family: $mainFont;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  padding: 100px 0;
  position: relative;
}

.b-wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  background: url(../assets/img/bg.jpeg) no-repeat center;
  background-size: cover;
}

@include media-mobile {
  .container {
    padding: 10px;
  }

  .b-wrapper {
    padding: 20px;
  }
}

@include media-tablet {
  .b-wrapper {
    width: 100%;
  }
}
