.b-intro
  .b-intro__content
    h2.h2.b-intro__title Юридическое сопровождение бизнеса от «МК-Правовые технологии»
    .b-intro__text
      p Главный принцип нашей работы - качество. Постоянно следовать ему помогает сплоченная команда талантливых и энергичных сотрудников, способных сообща заниматься сложными проектами, никогда не допуская сбоев в работе.
      p Мы обеспечиваем максимальный уровень профессионального обслуживания, который можно ожидать от крупной юридической фирмы.
      p Нашу фирму отличают яркая индивидуальность и следование модели эффективного юридического обслуживания. Благодаря профессиональной гибкости мы находим творческие решения как обычных вопросов, так и неординарных проблем, возникающих у наших клиентов.
      p Все наши рекомендации основаны на глубоких академических знаниях и опыте практического применения в хозяйственном праве.
  .b-intro__img(style="background-image: url(./img/img/rectangle6.png)")
