.footer {
  background-color: $bg;
  border-top: 1px solid rgba(0, 0, 0, 0.1);;
}

.b-top {
  position: fixed;
  z-index: 500;
  right: 20px;
  bottom: 20px;
  display: none;
  width: 50px;
  height: 50px;
  border: 2px solid $light;
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0,0,0,.5);
  background-color: rgba(0,0,0,.3);

  &__arrow {
    @include mask-img('../img/icon/slider-arrow.svg', 10px, 18px, $light);
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

.b-footer {

  &__wrapper {
    padding: 50px 0 60px;
    display: flex;
    column-gap: 30px;
  }

  &__about {
    max-width: 270px;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__info {
    margin-bottom: 60px;

    &-wrapper {
      display: flex;
    }

    &-wrapper + &-wrapper {
      margin-top: 10px;
    }

    &-title {
      @include text(13px, 500, 1.54,$black-05);
      margin-right: 15px;
    }

    &-value {
      @include text(13px, 300, 1.54,$black-05);
    }
  }

  &__map {
    display: flex;
    align-items: center;

    span {
      @include text(12px, 600, 1.67, $black-075, $secondaryFont);
      transition: color .3s;
    }

    &:hover span {
      color: $light;
    }

    &:hover .b-footer__arrow,  &:hover .b-footer__arrow::before, &:hover .b-footer__arrow::after {
      background-color: $light;
    }
  }

  &__map {
    margin-bottom: 30px;
  }

  &__policy {
    display: flex;
    align-items: center;

    span {
      @include text(12px, 600, 1.67, $black-075, $secondaryFont);
      max-width: 135px;
      transition: color .3s;
    }

    &:hover span {
      color: $light;
    }

    &:hover .b-footer__arrow,  &:hover .b-footer__arrow::before, &:hover .b-footer__arrow::after {
      background-color: $light;
    }
  }

  &__arrow {
    width: 59px;
    height: 1px;
    background-color: $black-075;
    position: relative;
    margin-left: 15px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transition: background-color .3s;

    &::before, &::after {
      content: '';
      width: 6px;
      height: 1px;
      background-color: $black-075;
      position: absolute;
      right: -1px;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      transition: background-color .3s;
    }

    &::before {
      transform: rotate(45deg);
      top: -2px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 2px;
    }
  }

  &__bottom {
    @include text(12px, 300, 1.67, $black-08, $secondaryFont);
    text-align: center;
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: rgba(0, 0, 0, 0.1);
  }
}

.li-social {
  display: flex;
  margin: 0 -7.5px 50px;

  &__item {
    flex-basis: 16.6666%;
    padding: 0 7.5px;
  }

  &__link.--vk {
    @include mask-img('../img/icon/vk.svg', 26.5px, 26.5px, $black-05);
    transition: background-color .3s;

    &:hover {
      background-color: #0000ff;
    }
  }

  &__link.--ok {
    @include mask-img('../img/icon/ok.svg', 26.5px, 26.5px, $black-05);

    transition: background-color .3s;

    &:hover {
      background-color: #ffc400;
    }
  }

  &__link.--insta {
    @include mask-img('../img/icon/insta.svg', 26.5px, 26.5px, $black-05);

    transition: background-color .3s;

    &:hover {
      background-color: #ff00ff;
    }
  }

  &__link.--social {
    @include mask-img('../img/icon/social.svg', 26.5px, 26.5px, $black-05);

    transition: background-color .3s;

    &:hover {
      background-color: $light;
    }
  }

  &__link.--youtube {
    @include mask-img('../img/icon/youtube.svg', 26.5px, 26.5px, $black-05);
    transition: background-color .3s;

    &:hover {
      background-color: #ff0000;
    }
  }

  &__link.--facebook {
    @include mask-img('../img/icon/facebook.svg', 26.5px, 26.5px, $black-05);

    transition: background-color .3s;

    &:hover {
      background-color: #4141ff;
    }
  }
}

.b-info {
  padding-top: 30px;

  &__title {
    @include text(15px, 400, 1.67, $black-05, $secondaryFont);
    padding-bottom: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 29px;
  }

  &__wrapper {
    display: flex;
  }

  strong {
    @include text(13px, 500, 1.54, $black-075);
    display: block;
  }

  span {
    @include text(13px, 300, 1.54, $black-08, $secondaryFont);
    display: block;
    max-width: 170px;
  }

  &__time + &__time {
    margin-top: 30px;
  }

  &__time {

    strong {
      margin-bottom: 5px;
    }
  }
}

.b-contacts {
  width: 200px;
  margin-right: 35px;

  &__title {
    @include text(14px, 400, 1.78, $black-075);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 20px;

    &::after {
      @include text(16px, 400, 1, $black-08);
      content: '\271A';
      margin-left: 10px;
      display: none;
    }
  }

  &__phone {
    margin-bottom: 20px;

    &-link {
      @include text(13px, 300, 1.54, $black-08, $secondaryFont);
      display: block;
      transition: font-weight .3s;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__address {
    margin-bottom: 20px;

    strong {
      margin-bottom: 5px;
    }
  }

  &__russia {
    margin-bottom: 20px;

    &-wastsapp {
      @include text(13px, 300, 1.54, $black-08, $secondaryFont);
      transition: font-weight .3s;

      &:hover {
        font-weight: 600;
      }
    }
  }

  &__mail {
    @include text(13px, 400, 1.54, $black-08);
    transition: font-weight .3s;

      &:hover {
        font-weight: 600;
      }
  }

  &__item {
    width: 200px;
  }
}

.b-contacts.--region {
  max-width: 435px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-right: 0;
  width: fit-content;

  .b-contacts__address {
    margin-bottom: 5px;
  }

  .b-contacts__title {
    margin-bottom: 10px;
  }
}

@include media-tablet {

  .b-footer {

    &__wrapper {
      display: block;
    }

    &__about {
      max-width: fit-content;
    }

    &__title, &__info {
      margin-bottom: 20px;
    }
  }

  .li-social {
    margin-bottom: 20px;
  }

  .b-info__outer {
    display: flex;
    justify-content: space-between;
  }

  .b-info__time + .b-info__time {
    margin-top: 0;
  }
}

@include media-mobile {

  .b-info {

    &__wrapper {
      display: block;
    }

    &__outer {
      display: block;
    }

    &__time + &__time {
      margin-top: 20px;
    }
  }

  .b-footer__bottom {
    font-size: 10px;
  }

  .b-contacts {

    &__wrapper {
      display: none;
    }

    &.--region {
      margin-top: 10px;
      display: block;
    }

    &__item + &__item {
      margin-top: 20px;
    }

    &__title::after {
      display: inline;
    }

  }
}
