ul.li-excellence
  li.li-excellence__item
    .li-excellence__content
      .li-excellence__icon.--protect
      .li-excellence__text Надежная защита
  li.li-excellence__item
    .li-excellence__content
      .li-excellence__icon.--reputation
      .li-excellence__text Безупречная репутация
  li.li-excellence__item
    .li-excellence__content
      .li-excellence__icon.--score
      .li-excellence__text Ориентированность на результат
  li.li-excellence__item
    .li-excellence__content
      .li-excellence__icon.--confedition
      .li-excellence__text Абсолютная конфиденциальность
