.b-toast {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 800px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.b-toast.--show {
  transform: translateY(0);
  top: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@include media-tablet {
  .b-toast {
    width: calc(100% - 20px);
    margin: 0 auto;
  }
}
