.b-cooperation
  .b-cooperation__wrapper
    h2.h2.b-cooperation__title Организация сотрудничества
    .b-cooperation__body
      .b-cooperation__number 1
      .b-cooperation__text Установив контакт с нашим сотрудником, Вы оговорите нюансы предмета обсуждения и согласуете личную встречу.
    .b-cooperation__body
      .b-cooperation__number 2
      .b-cooperation__text Юрист изучит документы, необходимые для разработки стратегии решения возникшей ситуации. И заключит договор.
    .b-cooperation__footer Также в нашей компании возможна удаленная форма обслуживания с оказанием полного комплекса юридических услуг в РБ через современные средства связи и мессенджеры.
  include ../consultation/consultation
