@import "common/reset";

@import "mixins/media";

@import "mixins/mixin";

@import "mixins/variables";

@import "components/buttons";

@import "components/title";

@import "common/header";

@import "common/footer";

@import "components/sections";

@import "components/main-slider";

@import "components/excellence";

@import "components/intro";

@import "components/activity-list";

@import "components/activity-slider";

@import "components/reviews";

@import "components/partners";

@import "components/triangle";

@import "components/services";

@import "components/trust";

@import "components/advantage";

@import "components/cooperation";

@import "components/consultation";

@import "components/price";

body {
  overflow-x: hidden;
  font-family: $mainFont;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.slick-dots {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li.slick-active, .slick-dots li button, .slick-dots li {
  width: 10px;
  height: 10px;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  color: rgba(0, 0, 0, 0.1);
  font-size: 10px;
  line-height: 10px;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: $accent;
}

.b-pen {
  height: 180px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@include media-mobile {

  .container {
    padding: 0 10px;
  }

  .b-pen {
    height: 80px;
  }
}
