include ../buttons/button-link

.b-partners
  .b-partners__wrapper
    .b-partners__text Оказываем юридические услуги юридическим лицам и индивидуальным предпринимателям. Специализируемся в области хозяйственного права, работаем на всей территории Республики Беларусь, а также за ее пределами, с бизнесом любого масштаба.
    +button-link('btn-primary btn-partners', 'Наши партнеры')
  ul.li-partners
    li.li-partners__item
      .li-partners__content
        img(src="img/img/bau.png")
    li.li-partners__item
      .li-partners__content
        img(src="img/img/titan.png")
    li.li-partners__item
      .li-partners__content
        img(src="img/img/favorit.png")
    li.li-partners__item
      .li-partners__content
        img(src="img/img/alfa.png")
    li.li-partners__item
      .li-partners__content
        img(src="img/img/iba.png")



