include ./components/buttons/button-link

li.li-collection__item(data-price="30000" data-age="2")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat1.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 2 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 30 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="20000" data-age="2")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 2 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 20 000
    +button-link('btn-sold', 'Продан')
li.li-collection__item(data-price="15000" data-age="3")
  .li-collection__content
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 3 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 15 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="40000" data-age="5")
  .li-collection__content
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat1.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 5 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 40 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="25000" data-age="6")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 6 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 25 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="35000" data-age="1")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 1 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 35 000
    +button-link('btn-sold', 'Продан')
li.li-collection__item(data-price="30000" data-age="2")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat1.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 2 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 30 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="20000" data-age="2")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 2 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 20 000
    +button-link('btn-sold', 'Продан')
li.li-collection__item(data-price="15000" data-age="3")
  .li-collection__content
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 3 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 15 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="40000" data-age="5")
  .li-collection__content
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat1.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 5 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 40 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="25000" data-age="6")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 6 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 25 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="35000" data-age="1")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 1 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 35 000
    +button-link('btn-sold', 'Продан')
li.li-collection__item(data-price="30000" data-age="2")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat1.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 2 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 30 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="20000" data-age="2")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 2 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 20 000
    +button-link('btn-sold', 'Продан')
li.li-collection__item(data-price="15000" data-age="3")
  .li-collection__content
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 3 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 15 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="40000" data-age="5")
  .li-collection__content
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat1.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 5 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 40 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="25000" data-age="6")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 6 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 25 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="35000" data-age="1")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 1 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 35 000
    +button-link('btn-sold', 'Продан')
li.li-collection__item(data-price="25000" data-age="6")
  .li-collection__content
    .li-collection__label -40%
    button.li-collection__fav(type="button")
    .li-collection__img
      img(src="assets/img/cat3.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 6 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 25 000
    +button-link('btn-shop', 'Купить')
li.li-collection__item(data-price="35000" data-age="1")
  .li-collection__content
    button.li-collection__fav.--active(type="button")
    .li-collection__img
      img(src="assets/img/cat2.png", alt="Кот полосатый")
    .li-collection__info
      h3.h3.li-collection__title Кот полосатый
      .li-collection__desc
        .li-collection__color Коричневый окрас
        .li-collection__wrapper
          .li-collection__age 1 мес.
          span Возраст
        .li-collection__wrapper
          .li-collection__paws 4
          span Кол-во лап
      h3.h3.li-collection__price 35 000
    +button-link('btn-sold', 'Продан')

