footer.footer
  .container
    a.b-top(href="#")
      .b-top__arrow
    .b-footer__wrapper
      .b-footer__about
        h4.h4.b-footer__title ООО “МК-ПРАВОВЫЕ ТЕХНОЛОГИИ”
        .b-footer__info
          .b-footer__info-wrapper
            .b-footer__info-title УНП
            .b-footer__info-value 192710862
          .b-footer__info-wrapper
            .b-footer__info-title Наш рейтинг
            .b-footer__info-value 5 из 5 (15 отзывов)
        ul.li-social
          li.li-social__item
            a.li-social__link.--vk(href="#")
          li.li-social__item
            a.li-social__link.--ok(href="#")
          li.li-social__item
            a.li-social__link.--insta(href="#")
          li.li-social__item
            a.li-social__link.--social(href="#")
          li.li-social__item
            a.li-social__link.--youtube(href="#")
          li.li-social__item
            a.li-social__link.--facebook(href="#")
        a.b-footer__map(href="#")
          span Карта сайта
          .b-footer__arrow
        a.b-footer__policy(href="#")
          span Политика конфиденциальности
          .b-footer__arrow
      .b-info
        .b-info__title Наши офисы
        .b-info__wrapper
          .b-contacts
            .b-contacts__title Контакты в Минске
            .b-contacts__wrapper
              .b-contacts__phone
                a.b-contacts__phone-link(href="tel:+375447550101") +375 (44) 755-01-01
                a.b-contacts__phone-link(href="tel: +375295500101") +375 (29) 550-01-01
                a.b-contacts__phone-link(href="tel: +375173744060") +375 (17) 374-40-60
              .b-contacts__address
                strong Адрес
                span г. Минск, ул. Широкая, д. 3, пом. 146, оф. 4
              .b-contacts__russia
                strong Телефон для связи резидентов Российской Федерации
                a.b-contacts__russia-wastsapp(href="#") whatsapp +7 (989) 166 24 00
              a.b-contacts__mail(href="mailto:info@jurisprudent.by") info@jurisprudent.by
          .b-contacts.--region
            .b-contacts__item
              .b-contacts__title(data-menu="footer-menu") Отдел в Могилеве
              .b-contacts__wrapper
                .b-contacts__address
                  strong Адрес
                  span г. Могилев, ул. Космонавтов, д. 19, оф. 507
                a.b-contacts__mail(href="mailto:mogilev@jurisprudent.by") mogilev@jurisprudent.by
            .b-contacts__item
              .b-contacts__title(data-menu="footer-menu") Отдел в Гродно
              .b-contacts__wrapper
                .b-contacts__address
                  strong Адрес
                  span г. Гродно, ул. Карла Маркса, д. 31-1, оф. 1010
                a.b-contacts__mail(href="mailto:grodno@jurisprudent.by") grodno@jurisprudent.by
            .b-contacts__item
              .b-contacts__title(data-menu="footer-menu") Отдел в Бресте
              .b-contacts__wrapper
                .b-contacts__address
                  strong Адрес
                  span г. Брест, б-р Шевченко, д. 4, оф. 401
                a.b-contacts__mail(href="mailto:brest@jurisprudent.by") brest@jurisprudent.by
            .b-contacts__item
              .b-contacts__title(data-menu="footer-menu") Отдел в Гомеле
              .b-contacts__wrapper
                .b-contacts__address
                  strong Адрес
                  span г. Гомель, пр. Ленина, д. 10, оф. 901
                a.b-contacts__mail(href="mailto:gomel@jurisprudent.by") gomel@jurisprudent.by
            .b-contacts__item
              .b-contacts__title(data-menu="footer-menu") Отдел в Витебске
              .b-contacts__wrapper
                .b-contacts__address
                  strong Адрес
                  span г. Витебск, ул.Гоголя, д. 14, оф. 614
                a.b-contacts__mail(href="mailto:vitebsk@jurisprudent.by") vitebsk@jurisprudent.by
      .b-info.--time
        .b-info__title Время работы
        .b-info__outer
          .b-info__time
            strong Прием посетителей
            span Ежедневно с 8.00 до 19.00 Выходной: суббота - воскресенье.
          .b-info__time
            strong Прием звонков
            span Ежедневно с 8.00 до 22.00 Без выходных
          .b-info__time
            strong Онлайн консультант
            span Круглосуточно 24/7 Без выходных
  .b-footer__bottom Разработка и продвижение сайта - Digital агентство «Веб Фокус»















