header.header
  .container
    .b-header__wrapper
      .b-header__top
        .b-header__lang
          .b-header__lang-title Язык
          select.b-header__lang-select(name="lang")
            option(value="russian") русский
            option(value="english") английский
        button.btn-eye
        .b-header__phones
          a.b-header__phones-link(href="tel:+375447550101" data-weight="+375 (44) 755-01-01") +375 (44) 755-01-01
          .b-header__phones-icons
            .b-header__phones-a1
            .b-header__phones-viber
            .b-header__phones-watsapp
          a.b-header__phones-link(href="tel:+375295500101" data-weight="+375 (29) 550-01-01") +375 (29) 550-01-01
          .b-header__phones-mts
      .b-header__bottom
        a.b-header__logo(href="#")
          img(src="./img/icon/logo.svg", alt="Logo")
        button.btn-menu(type="button")
          span
          span
          span
        .b-header__menu
          nav.n-nav
            button.btn-close(type="button")
            ul.li-menu
              li.li-menu__item
                a.li-menu__link(href="#") Главная
              li.li-menu__item
                a.li-menu__link(href="#") О нас
              li.li-menu__item
                a.li-menu__link(href="#") Услуги
              li.li-menu__item
                a.li-menu__link(href="#") Тарифы
              li.li-menu__item
                a.li-menu__link(href="#") Инфоцентр
              li.li-menu__item
                a.li-menu__link(href="#") Контакты
            .b-header__phones
              a.b-header__phones-link(href="tel:+375447550101" data-weight="+375 (44) 755-01-01") +375 (44) 755-01-01
              .b-header__phones-icons
                .b-header__phones-a1
                .b-header__phones-viber
                .b-header__phones-watsapp
              a.b-header__phones-link(href="tel:+375295500101" data-weight="+375 (29) 550-01-01") +375 (29) 550-01-01
              .b-header__phones-mts
            button.btn-search(type="submit")

