section.s-advantage.section
  .container
    h2.h2.s-advantage__title Наши преимущества
    include ../components/advantage/advantage
    include ../components/cooperation/cooperation
    include ../components/price/price
