section.s-about
  .container
    include ../components/excellence/excellence
    include ../components/intro/intro
    include ../components/activity/activity-list
    include ../components/activity/activity-slider
