@import "common/reset";

@import "mixins/media";

@import "mixins/mixin";

@import "mixins/variables";

@import "components/buttons";

@import "components/titles";

@import "common/header";

@import "common/footer";

@import "components/sort";

@import "components/collection";

@import "components/show-more";

@import "components/to-top";

@import "components/toast-message";

@import "components/preloader-min";


body {
  font-family: $mainFont;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  padding: 37px 0 83px;
}

input[type="checkbox"] {
  display: none;
}

@include media-mobile {
  .container {
    padding: 10px;
  }
}
