@mixin bem-btn($width, $height) {
  @include text(16px, 700, $gray-1);
  width: $width;
  height: $height;
  line-height: $height;
  background-color: $accent;
  text-align: center;
}

@mixin text($fs, $fw, $color) {
  font-size: $fs;
  font-weight: $fw;
  color: $color;
}

@mixin mask-img($url, $width, $height, $bg) {
  mask-image: url($url);
  width: $width;
  height: $height;
  background: $bg;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}

@mixin h3 {
  @include text(24px, 700, $gray-10);
}

@mixin h2 {
  @include text(48px, 700, $gray-10);
}
