.b-activity {
  margin-bottom: 100px;

  &__title {
    margin-bottom: 30px;
  }
}

.li-activity {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 40px;

  &__item {
    padding: 0 15px;
    width: 33.3333%;
  }

  &__item:nth-child(n+4) {
    margin-top: 30px;
  }

  &__content {
    padding: 25px 15px 25px 40px ;
    background-color: $light;
    display: flex;
    transition: background-color .3s;

    &:hover {
      background-color: $accent;
    }

    &:hover .li-activity__link,  &:hover .li-activity__title {
      color: $light;
    }

    &:hover .li-activity__icon {
      background-color: $light;
    }
  }

  &__text {
    margin-right: 55px;
    width: 180px;
    height: 90px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    line-height: 1.5;
    transition: color .3s;
    margin-bottom: 0;
  }

  &__link {
    @include text(12px, 600, 1.67, $black-05, $secondaryFont);
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-top: auto;
    transition: color .3s;
  }

  &__icon {
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
    transition: background-color .3s;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__icon.--debt::before {
    @include mask-img('../img/icon/debt.svg', 40px, 40px, $accent);
    mask-size: contain;
  }

  &__icon.--business::before {
    @include mask-img('../img/icon/business.svg', 40px, 40px, $accent);
    mask-size: contain;
  }

  &__icon.--sale::before {
    @include mask-img('../img/icon/sale.svg', 40px, 40px, $accent);
    mask-size: contain;
  }

  &__icon.--cons::before {
    @include mask-img('../img/icon/consultation.svg', 40px, 40px, $accent);
    mask-size: contain;
  }

  &__icon.--organization::before {
    @include mask-img('../img/icon/organization.svg', 40px, 40px, $accent);
    mask-size: contain;
  }

  &__icon.--deal::before  {
    @include mask-img('../img/icon/deal.svg', 40px, 40px, $accent);
    mask-size: contain;
  }

  &__icon.--register::before {
    @include mask-img('../img/icon/stamp.svg', 40px, 40px, $accent);
  }

  &__icon.--legal::before {
    @include mask-img('../img/icon/cup.svg', 40px, 40px, $accent);
  }

  &__icon.--build::before {
    @include mask-img('../img/icon/build.svg', 40px, 40px, $accent);
  }
}

.btn-activity {
  display: block;
}

@include media-tablet {

  .li-activity {

    &__item {
      width: 50%;
    }

    &__item:nth-child(n+3) {
      margin-top: 30px;
    }

    &__content {
      padding: 25px 25px;
    }

    &__text {
      margin-right: 10px;
    }

    &__icon {
      width: 100px;
      height: 100px;
    }
  }
}

@include media-mobile {

  .li-activity {
    width: 300px;
    margin: 0 auto 40px;

    &__item {
      padding: 0;
      width: 100%;
    }

    &__item + &__item {
      margin-top: 15px;
    }

    &__icon {
      width: 40px;
      height: 40px;
      border: none;
      margin-left: auto;
      align-self: center;

      &::before {
        width: 30px;
        height: 30px;
      }
    }
  }

  .btn-activity {
    margin: 0 auto;
  }
}
