.li-advantage {
  display: flex;
  margin: 0 -15px 40px;

  &__item {
    padding: 0 15px;
    flex-basis: 25%;
  }

  &__content {
    padding: 40px 20px;
    background-color: $light;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  }

  &__icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    &::before {
      content: '';
    }

    &.--license::before {
      @include mask-img('../img/icon/license.svg', 60px, 60px, $black-08);
    }

    &.--team::before {
      @include mask-img('../img/icon/team.svg', 60px, 60px, $black-08);
    }

    &.--feedback::before {
      @include mask-img('../img/icon/feedback.svg', 60px, 60px, $black-08);
    }

    &.--pen::before {
      @include mask-img('../img/icon/pen.svg', 60px, 60px, $black-08);
    }
  }

  &__text {
    @include text(16px, 400, 1.56, $black-075, $secondaryFont);
    text-align: center;
  }
}

.b-advantage {
  background-color: $light;
  padding: 40px 50px 45px;
  position: relative;
  margin-bottom: 100px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 70px solid $accent;
    border-left: 70px solid transparent;
  }

  &__text {
    @include mainText;
    max-width: 750px;
  }
}

@include media-tablet {

  .li-advantage {

    &__content {
      width: 100%;
      padding: 20px 10px;
    }

    &__text {
      font-size: 14px;
    }
  }
}

@include media-mobile {

  .li-advantage {
    flex-wrap: wrap;
    margin: 0 auto 40px;
    width: 300px;

    &__item {
      flex-basis: 100%;
      padding: 0;
    }

    &__item + &__item {
      margin-top: 20px;
    }

    &__content {
      height: 250px;
    }
  }

  .b-advantage {
    padding: 30px;

    &::before {
      border-width: 50px;
    }

    &__text {
      text-align: justify;
    }
  }
}
