.btn {
  @include bem-button(200px, 45px, 45px);
}

.btn-primary {
  @include bem-button(200px, 45px, 41px);
  background-color: $light;
  border: 2px solid $accent;
  color: $accent;
  transition: color .3s,  box-shadow 1s ease;

  &:hover {
    color: $light;
    box-shadow: inset 200px 0 $accent;
  }
}

.btn-prev, .btn-next {
  @include mask-img('../img/icon/slider-arrow.svg', 10px, 18px, $black-08);
  transition: background-color .3s;

  &:hover {
    background-color: $accent;
  }
}


.btn-next {
  @include mask-img('../img/icon/slider-arrow.svg', 10px, 18px, $black-08);
  transform: rotate(180deg);
}

.btn.btn-consultation {
  @include bem-button(100%, 45px, 45px);

  &:hover {
    color: $light;
    box-shadow: inset 470px 0 $black;
  }

  @include media-mobile {
    &:hover {
      box-shadow: none;
    }
  }
}
