.f-consultation {
  width: 570px;
  background-color: $light;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 40px 50px 50px;

  &__name {
    @include text(13px, 500, 1.53, $black-05);
    margin-bottom: 5px;
    display: block;
  }

  &__field {
    @include mainText;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    margin-bottom: 20px;
  }

  &__phone {
    @include text(13px, 300, 1.53, $black-05);
    margin-bottom: 5px;
  }

  &__conditions {
    @include text(13px, 300, 1.53, $black-05, $secondaryFont);
  }

  &__link {
    @include text(13px, 600, 1.53, $black-05, $secondaryFont);
    display: block;
    margin-bottom: 30px;
    text-decoration: underline;
    transition: color .3s;

    &:hover {
      color: $black;
    }
  }
}

input[type="text"]::-moz-placeholder {
  @include mainText;
  color: $black-05;
 }

input[type="text"]::-webkit-input-placeholder {
@include mainText;
color: $black-05;
}

input[type="text"]:-ms-input-placeholder {
  @include mainText;
  color: $black-05;
}

input[type="text"]::-ms-input-placeholder {
  @include mainText;
  color: $black-05;
}

input[type="text"]::placeholder {
  @include mainText;
  color: $black-05;
}

input[type="tel"]::-moz-placeholder {
  @include mainText;
  color: $black-08;
 }

input[type="tel"]::-webkit-input-placeholder {
@include mainText;
color: $black-08;
}

input[type="tel"]:-ms-input-placeholder {
  @include mainText;
  color: $black-08;
}

input[type="tel"]::-ms-input-placeholder {
  @include mainText;
  color: $black-08;
}

input[type="tel"]::placeholder {
  @include mainText;
  color: $black-08;
}


@include media-mobile {

  .f-consultation {
    width: 100%;
  }
}
