.b-cooperation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  &__wrapper {
    width: 500px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__body + &__body {
    margin-top: 30px;
  }

  &__number{
    @include text(22px, 800, 3.04, $accent);
    margin-right: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border: 1px solid $accent;
    border-radius: 50%;
  }

  &__text {
    @include mainText;
    max-width: 400px;
  }

  &__footer {
    @include text(14px, 300, 1.74, $black-08, $secondaryFont);
    margin-top: 35px;
  letter-spacing: 0.01em;
  }
}

@include media-tablet {

  .b-cooperation {
    display: block;

    &__wrapper {
      width: fit-content;
      margin-bottom: 30px;
    }
  }
}

@include media-mobile {

  .b-cooperation {
    &__number {
      margin-right: 15px;
      width: fit-content;
      height: fit-content;
      border: none;
    }
  }
}
