.li-excellence {
  display: flex;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  column-gap: 30px;

  &__content {
    background-color: $light;
    padding: 50px 20px 40px;
    width: 270px;
  }

  &__icon {
    width: 120px;
    height: 120px;
    margin: 0 auto 25px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    &.--protect::before {
      @include mask-img('../img/icon/protect.svg', 60px, 60px, $black-08);
      mask-size: contain;
    }

    &.--reputation::before {
      @include mask-img('../img/icon/reputation.svg', 60px, 60px, $black-08);
      mask-size: contain;
    }

    &.--score::before {
      @include mask-img('../img/icon/score.svg', 60px, 60px, $black-08);
      mask-size: contain;
    }

    &.--confedition::before {
      @include mask-img('../img/icon/conf.svg', 60px, 60px, $black-08);
      mask-size: contain;
    }
  }

  &__text {
    @include text(16px, 400, 1.56, $black-075, $secondaryFont);
    letter-spacing: 0.02em;
    text-align: center;
    height: 50px;
  }
}

@include media-tablet {

  .li-excellence {
    top: -50px;

    &__content {
      width: 150px;
      padding: 20px;
    }

    &__icon {
      width: 100px;
      height: 100px;
    }

    &__text {
      font-size: 12px;
    }
  }
}

@include media-mobile {

  .li-excellence  {
    position: static;
    flex-wrap: wrap;
    top: 0;
    transform: translateX(0);
    width: 300px;
    margin: 0 auto 30px;

    &__item {
      width: 100%;
    }

    &__item + &__item {
      margin-top: 15px;
    }

    &__content {
      width: 100%;
    }
  }
}
