.section {
  @include section;
}

.s-main {
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
}

.s-main.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.s-reviews {
  padding-top: 210px;
  transform: translateY(-110px);
}

.s-about {
  padding-top: 295px;
  position: relative;
}

.s-trust, .s-reviews {
  background-color: $light;
}


.s-services, .s-about, .s-triangle, .s-advantage {
  background-color: $bg;
}

@include media-tablet  {

  .s-about {
    padding-top: 200px;
  }
}

@include media-mobile {

  .section {
    padding: 50px 0;
  }

  .s-about {
    padding: 50px 0;
  }

  .s-reviews {
    padding: 50px 0;
    transform: translateY(0);
  }

  .s-advantage__title {
    text-align: center;
  }
}
