.b-trust {
  display: flex;
  justify-content: space-between;

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    @include mainText;
    max-width: 470px;
  }
}

.b-trust:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 59px;
  margin-bottom: 60px;
}

.li-trust {
  width: 440px;

  &__item {
    position: relative;
  }

  &__item + &__item {
    margin-top: 25px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(222, 195, 119, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: -70px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $accent;
    }
  }

  &__text {
    @include text(17px, 600, 1.76, $black-075, $secondaryFont);
  }
}

@include media-tablet {

  .li-trust {
    width: fit-content;
    padding-left: 50px;

    &__icon {
      left: -40px;
      width: 30px;
      height: 30px;
    }
  }
}

@include media-mobile {

  .b-trust {
    display: block;

    &__text {
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  .li-trust {
    width: 100%;
    padding-left: 35px;
  }
}
