.b-principles
  .b-principles__text
    h2.h2.b-principles__title Основные направления деятельности
    .b-principles__desc
      p Основной принцип нашей работы – максимальная открытость и доверительные отношения с каждым клиентом, с тем чтобы от начала и до конца совместной работы, не возникало никакого недопонимания. Мы ставим целью не только привлечение новых клиентов, но и поддержание длительных партнерских отношений с клиентами, которые уже воспользовались нашими услугами.
      p Быстрота анализа и профессиональных действий наших юристов обеспечивают успешное решение, казалось бы, неразрешимых вопросов. Богатые знания и солидный опыт позволяют нам оказывать комплексную правовую помощь в ситуациях любой сложности.
  .b-principles__outer
    .b-principles__slider
      img(src="./img/img/rectangle7.png", alt="#")
      img(src="./img/img/rectangle8.png", alt="#")
      img(src="./img/img/rectangle9.png", alt="#")
      img(src="./img/img/rectangle10.png", alt="#")
      img(src="./img/img/rectangle11.png", alt="#")
    button.b-principles__slider-prev.btn-prev(type="button")
    button.b-principles__slider-next.btn-next(type="button")

