include ../buttons/button-link

.b-activity
  h2.h2.b-activity__title Основные направления деятельности
  ul.li-activity
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Взыскание долгов
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--debt
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Реорганизация бизнеса
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--business
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Продажа бизнеса
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--sale
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Юридические консультации
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--cons
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Ликвидация организаций
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--organization
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Разработка договоров
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--deal
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Регистрация бизнеса
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--register
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Юридический аутсорсинг
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--legal
    li.li-activity__item
      .li-activity__content
        .li-activity__text
          h4.h4.li-activity__title Аттестация в строительстве
          a.li-activity__link(href="#") Подробнее
        .li-activity__icon.--build
  +button-link('btn-activity', 'Все услуги')

