include ../buttons/button-link

.b-services
  ul.li-services
    li.li-services__item
      h4.h4.li-services__title Регистрации ИП и юрлиц
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Ликвидация, реорганизация и продажа бизнеса
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Взыскание дебиторской задолженности
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Письменные и устные консультации
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Разработка уставных документов и внесение изменений в них
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Ведение переговоров
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Комплексное сопровождение бизнеса
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Сопровождение деловых сделок
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Лицензирование бизнеса
      a.li-services__link(href="#") Подробнее
    li.li-services__item
      h4.h4.li-services__title Решение правовых споров
      a.li-services__link(href="#") Подробнее
  .b-services__bottom
    .b-services__text Оказание юридических услуг юридическим лицам и индивидуальным предпринимателям – наша работа. Среди собственников бизнеса принято считать, что прочитать закон в Интернете и применить его на практике - это одно и тоже. Основываясь на этом убеждении, они часто отказываются от профессиональной помощи. Практика же показывает, что только опытный юрист может правильно разобраться в правовых тонкостях, своевременно предотвратить ложные шаги и ускорить получение результата.
    +button-link('btn-services', 'Все услуги')
