.b-trust
  .b-trust__wrapper
    h2.h2.b-trust__title Что получает клиент
    .b-trust__text Юристы нашей компании готовы дать четкие, основанные на фактах, консультации, касающиеся и «типовой», и нестандартной ситуации, опираясь на сложившуюся служебную практику и многолетний опыт. Мы объективно оцениваем риски и тщательно анализируем каждый случай.
  .b-trust__wrapper
    ul.li-trust
      li.li-trust__item
        .li-trust__icon
        .li-trust__text надежная защита бизнеса
      li.li-trust__item
        .li-trust__icon
        .li-trust__text актуальная правовая помощь
      li.li-trust__item
        .li-trust__icon
        .li-trust__text своевременная оценка рисков
      li.li-trust__item
        .li-trust__icon
        .li-trust__text компетентное решение правовых вопросов
