.b-trust
  .b-trust__wrapper
    h2.h2.b-trust__title Почему нам доверяют
    .b-trust__text Прозрачность и открытость для клиентов – наш принцип, который с самого начала исключает любые недопонимания. Мы тщательно продумали работу каждого юриста внутри коллектива, что обеспечивает высокое качество юридических услуг компании.
  .b-trust__wrapper
    ul.li-trust
      li.li-trust__item
        .li-trust__icon
        .li-trust__text безупречная репутация
      li.li-trust__item
        .li-trust__icon
        .li-trust__text абсолютная конфиденциальность
      li.li-trust__item
        .li-trust__icon
        .li-trust__text внимание к каждому клиенту
      li.li-trust__item
        .li-trust__icon
        .li-trust__text успешный опыт решения нестандартных вопросов
