extends common/layout

block content
    main.main
      include ./components/main-slider/main-slider
      include ./block/section-about
      include ./block/section-review
      include ./block/section-triangle
      .b-pen(style="background-image: url(img/img/rectangle14.png)")
      include ./block/section-services
      include ./block/section-trust
      include ./block/section-advantage
